html,
body,
div,
input,
span,
h1,
h2,
h3,
a,
section,
header,
footer,
form,
p,
ul,
li,
i {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

ul {
	list-style: none;
}

@media only screen and (max-width: 768px) {
	.container {
		margin: 0 20px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		width: 710px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 992px) {
	.container {
		width: 964px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1400px) {
	.container {
		width: 1396px;
		margin: 0 auto;
	}
}

html,
body,
#__layout,
#__nuxt {
	width: 100%;
	height: 100%;
}

html {
	font-size: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Microsoft Yahei";
}
